.about-text {
  width: 70%;
  font-size: 1.4em;
}

.about-first {
  font-weight: 500;
  font-size: 2.4em;
  margin: 0;
  padding: 0;
}

.about-last {
  color: #c99c14;
  margin: 0 0 10px 0;
  padding: 0; 
}

.the-team {
  margin: 0 10px 60px 10px;
  font-size: 2.6em;
}

.contact-fa {
  margin: 3px;
  font-size: 2.4em;
}

.about-info {
  margin: 10px 10px 20px 10px;
  padding: 0;
}