.about-text {
  font-size: 18px;
}

.about-first {
  font-weight: 500;
  font-size: 1.4em;
  margin: 0;
  padding: 0;
}

.about-last {
  margin: 0 0 10px 0;
  padding: 0; 
}

.creators-div {
  margin-top: 60px;
}