.contact-button {
  width: 80px;
}

.contact-title {
  margin-bottom: 100px;
}

.message-input {
  width: 100%;
  height: 140px;
  resize: none;
}

.subject-input {
  width: 100%;
  margin-bottom: 4px;
}