.food-button-input button {
  width: 33%;
  padding-left: 25px;
  font-size: 1.1em;
  background-color: black;
}

.food-button-input button:hover {
  color: white;
  background-color: #33C3F0;
}

.top-button button {
  width: 50%;
}

.cuisine-button button {
  width: 100%;
  padding-right: 0px;
}
