.footer{
  border-top: 1px solid #c99c14;
  position:fixed;
  height: 25px;
  background-color:black;
  bottom:0px;
  left:0px;
  right:0px;
  margin-bottom:0px;
  min-width: 320px;
}

.copy {
  display: inline-block;
  list-style: none;
}

.copy li {
  display: inline;
}

.copy p {
  display: inline;
  margin: 0 5px 0 5px
}

.footer-links {
  float: right;
  margin-right: 40px;
}

.footer-links-div {
  display: inline-block;
}

.social-links {
  margin-top: -55px;
  display: inline-block;
}

.social-share-button-facebook {
 display: inline-block;
 float: right;
}

.social-share-button-twitter {
  display: inline-block;
  float:right;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}