.footer{
  border-top: 1px solid #c99c14;
  position: fixed;
  height: 35px;
  background-color:black;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 320px;
}

.copy-links {
  margin: 0 0 0 10px;
}

.copy {
  display: inline-block;
  list-style: none;
}

.copy li {
  display: inline;
}

.footer-links {
  float: right;
  margin-right: 10px;
}

.social-links {
  padding: 0;
  margin: 0 0 0 30px;
  display: inline-block;
}

.social-share-button-facebook {
 display: inline-block;
}

.social-share-button-twitter {
  display: inline-block;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}