.hamburger-menu {
  background-color: black ;
  position: absolute;
  width: 260px;
  height: calc(100% - 4em);
  margin-bottom: -40px;
  z-index: 3;
}

.nav-menu {
    transition: width 2s;
    transition-timing-function: ease-in;
}

.ham-icon {
  margin: 7px 10px 0 15px;
  color: #efefef;
  float: left;
}

.hamburger {
  display: inline;
}

.ham-icon:hover{
  cursor: pointer;
  color: white;
}

.hamburger-content {
  font-size: 2em;
  margin-left: 9%;
  padding-top: 15%;
  padding-bottom: 15%;
  color: black;
  cursor: pointer;
}

.nav-icon {
  padding-right: 30px;
  color: #FFFFFF;
  cursor: pointer;
}

.hamburger-text p {
  color: black;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

