.ham-icon {
  height: 3em;
  margin: 10px 3% 0 3%;
  color: white;
  float: left;
}

.hamburger {
}

.hamburger:hover {
  cursor: pointer;
  color: blue;
}

.hamburger-menu {
  height: 100%;
  width: 20%;
  background-color: #9e0f00;
  padding-top: 10em;
}

.hamburger-content {

}