.hamburger-menu {
  background-color: #9e0f00 ;
  position: absolute;
  height: 100vh;
}

.ham-icon {
  height: 1em;
  margin: 10px 1% 0 2%;
  color: white;
  float: left;
}

.hamburger {
  display: inline;
}

.ham-icon:hover{
  cursor: pointer;
  color: #33C3F0;
}

.hamburger-content {
  font-size: 2em;
  margin-left: 20%;
}