body {
  background-color: #444;
  margin: 0;
}

a {
  text-decoration: none;
}

//Flash Messages 
.flash {
  text-align: center; 
  width: 100%;
  height: 50px;
  font-size: 15px;
  cursor: pointer;
}

.notice {
  background-color: #222;
}

.alert {
  background-color: #222;
}

.text-center {
  text-align: center;
}
// Login/Sign Up Page
.registration_form, .registration_header {
}

.contact-fa {
  margin: 3px;
  font-size: 1.4em;
}

.about-info {
  margin: 7px;
  padding: 0;
}

.black {
  background-color: black;
}

.subject-input {
  width: 100%;
  margin-bottom: 4px;
}

.message-input {
  width: 100%;
  height: 140px;
  resize: none;
}