.icon {
  float: left;
  height: 2.5em;
  margin: 10px 1% 0 1%;
}
.nav-bar {
  height: 4em;
  width: 100%;
  background-color: #c99c14 ;
  box-shadow: 0 .5px 1em #222 ;
  
}

.logo {
  font-size: 3em;
  text-align: center;
  color: white;
  border-bottom: 0;
  margin: 0;
  float: left;
  cursor: pointer;
}

.nav-link {
  color: white;
  float: right;
  margin: 12px 10px 0 0;
  font-size: 17px;
  cursor: pointer;
}

.active{
  color:#C99c14 !important;
}
