.profile-div {
  height: 600px;
}

.preferences-button {
  font-size: 1.2em;
  font-weight: bold;
}

.profile-name {
  color: #c99c14;
  margin: 40px 0 40px 40px;
}

.profile-title {
  font-weight: 400;
}

.recent-info {
  margin: 0;
  padding: 0;
}

.recent-name {
  font-weight: 400;
  margin: 0;
  padding: 0;
}