.landing-icon {
  display: inline;
  float: left;
  height: 2.5em;
  margin: 10px 1% 0 1%;
}

.welcome {
  display: inline; 
  font-size: 3em;
  cursor: pointer;
}

.landing-welcome {
  height: 4em;
  width: 100%;
  background-color: #9e0f00;
  box-shadow: 0 .5px 1em #222 ;
}

.form {
  padding-top: 7%;
}