@media (min-width: 20px) and (max-width: 319px){
  .nav-link {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 400px){
  .nav-link {
    display: none;
  }

  .map_frame {
    width: 90%;
    height: 250px;
  }

  .result_image {
    width: 250px;
    height: 250px;
    overflow: hidden;
  }
}

@media (min-width: 401px) and (max-width: 700px){
  .ham-icon {
    visibility: visible;
  }

  .nav-link {
    visibility: visible;
  }

  .map_frame {
    width: 90%;
    height: 350px;
  }

  .result_image {
    width: 350px;
    height: 350px;
    overflow: hidden;
  }
}

@media (min-width: 701px) and (max-width: 999px) {
  .ham-icon {
    visibility: visible;
  }

  .nav-link {
    visibility: visible;
  }

  .result_image {
    width: 350px;
    height: 350px;
    overflow: hidden;
  }
}

@media (min-width: 1000px){
  .ham-icon {
    visibility: visible;
  }

  .nav-link {
    visibility: visible;
  }

  .result_image {
    width: 350px;
    height: 350px;
    overflow: hidden;
  }
}
