@media (min-width: 20px) and (max-width: 319px){
  .nav-link {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 400px){
  .nav-link {
    display: none;
  }
}

@media (min-width: 401px) and (max-width: 700px){
  .ham-icon {
    visibility: visible;
  }

  .nav-link {
    visibility: visible;
  }
}

@media (min-width: 701px) and (max-width: 999px) {
  .ham-icon {
    visibility: visible;
  }

  .nav-link {
    visibility: visible;
  }
}

@media (min-width: 1000px){
  .ham-icon {
    visibility: visible;
  }

  .nav-link {
    visibility: visible;
  }
}
