@media (min-width: 20px) and (max-width: 319px){
  .nav-link {
    display: none;
  }
  .search-index-buttons button {
    width: 33%;
    font-size: 1em;
    height: 50px;
  }

  .popular-cuisines {
    font-size: 1em;
  }
}

@media (min-width: 320px) and (max-width: 400px){
  .nav-link {
    display: none;
  }

  .popular-cuisines {
    font-size: 1.2em;
  }

  .search-index-buttons button {
    width: 33%;
    font-size: 1em;
    height: 50px;
  }

  .map_frame {
    width: 250px;
    height: 250px;
  }

  .result_image {
    width: 250px;
    height: 250px;
    overflow: hidden;
  }

  .result-name {
    font-size: 1.4em;
  }

  .map-div-text {
    font-size: 1em;
  }

  .price-rating {
    font-size: 1em;
  }
}

@media (min-width: 401px) and (max-width: 700px){
  .ham-icon {
    visibility: visible;
  }

  .nav-link {
    display: none;
  }

  .map_frame {
    width: 350px;
    height: 350px;
  }

  .result_image {
    width: 350px;
    height: 350px;
    overflow: hidden;
  }

  .result-name {
    font-size: 1.6em;
  }

  .map-div-text {
    font-size: 1.2em;
  }

  .price-rating {
    font-size: 1.1em;
  }
}

@media (min-width: 701px) and (max-width: 999px) {

  .search-index-buttons button {
    width: 33%;
    height: 50px;
  }

  .ham-icon {
    visibility: visible;
  }

  .nav-link {
    visibility: visible;
  }

  .map_frame {
    width: 350px;
    height: 350px;
  }

  .result_image {
    width: 350px;
    height: 350px;
    overflow: hidden;
  }
}

@media (min-width: 1000px){

  .search-index-buttons button {
    width: 33%;
    font-size: 1.5em;
    height: 50px;
  }

  .ham-icon {
    visibility: visible;
  }

  .nav-link {
    visibility: visible;
  }

  .map_frame {
    width: 350px;
    height: 350px;
  }

  .result_image {
    width: 350px;
    height: 350px;
    overflow: hidden;
  }
}
