.find-food-button {
  height: 100px;
  background-color: #9E0F00;
  color: white;
  margin: 50px 0 50px 0;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 0px 5px 5px #222;

}

.find-food-button p {
  height: 100px;
  font-size: 1.3em;
  line-height: 100px;
  font-weight: bold;
  cursor: pointer;
}

.search-index-buttons h5{
  margin: 0;
  padding: 0;
}

.search-index-input {
  width: 99%;
}

.popular-cuisines {
  border-radius: 4px;
  padding: 0 5px 0 5px;
}