.uber-button btn {
  width: 50em;
}

.fa-car {
  font-size: 70px;
  color: white;
  padding: 0;
  text-align: left;
  margin-bottom: 3px;
}

.fa-car:hover {
  color: #33C3F0;
  cursor: pointer;
}

.cancel-btn {
  font-size: 70px;
}

.cancel-btn:hover {
  color: #33C3F0;
  cursor: pointer;
}

.ub {
  margin: 0;
}
