.fa-chevron-circle-right {
  font-size: 70px;
  color: white;
  padding: 10px;
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 3px;
}
†
.map-div-text {
  color: white;
  font-size: 20px;
  padding-top: 20px;
  padding: 0;
}

.fa-check-circle {
  font-size: 70px;
  color: green;
  margin: .5em;
}

.fa-check-circle:hover {
  color: #3fa83d;
  cursor: pointer;
}

.direction-text {
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.no-class {
  font-size: 70px;
  color: red;
  margin: .5em;
}
.no-class:hover {
  color: #f15959;
  cursor: pointer;
}

.map-div-text {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
