.fa-chevron-circle-right {
  font-size: 70px;
  color: white;
  padding: 10px;
  text-align: right;
  padding-bottom: 0;
  margin-bottom: 3px;
}

.map-div-text {
  color: white;
  font-size: 17px;
  padding-top: 20px;
  padding: 0;
}

.map-div-text2 {
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.direction-text {
  color: white;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.left-div {
  padding-left: 0;
}

.right-div {
  margin-left: 0;
}
