<!-- <%= react_component 'Profile' %> -->

<div class="profile-div twelve columns">
  <h3 class="text-center profile-title">Profile</h3>
  <div>
    <button class="preferences-button four columns offset-by-four">Coming Soon</button>
  </div>
</div>