<div class="landing-welcome">
  <img class="landing-icon" src='http://www.clipartbest.com/cliparts/9cp/oq6/9cpoq6rRi.png' />
  <h1 class="welcome"><%= link_to "Welcome to Belcher", root_path %></h1>
</div>