<div class="row">
  <div class="footer twelve columns">
    <ul class="copy">
      <p><a href='/'><li>&copy BelcherApp</li></a></p>
    </ul>
    <ul class="copy footer-links">
    <%= social_share_button_tag(@posts, :url => "http://belcher.herokuapp.com", :popup => "true") %>
      <p><a href='/contact'><li>Contact</li></a></p>
      <p><a href='/about'><li>About</li></a></p>
    </ul>
  </div>
</div>