<div class="row">
  <div class="footer twelve columns">
    <div class="footer-links-div twelve columns">
      <ul class="copy copy-links">
        <li><a href='/'><li>&copy BelcherApp</li></a></li>
      </ul>
      <ul class="copy footer-links">
        <a href='/contact'><li>Contact</li></a>
        <a href='/about'><li>About</li></a>
        <a href='https://github.com/justinewalt/belcher'><li>GitHub</li></a>
      </ul>
    </div>
  </div>
</div>